# 코드오너 소유
/CODEOWNERS @rkdgusrn1212

# 메인 README 마크다운 소유
/README.md @rkdgusrn1212

# 메인 설정 파일 소유
/* @rkdgusrn1212

# 백엔드 설정 파일 소유
/back/* @rkdgusrn1212
/back/src/main/resources/application.properties @rkdgusrn1212

# 백엔드 인증 관련 파일 소유
/back/src/main/java/com/kanghoshin/lis/config/CorsConfig.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/config/SecurityConfig.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/config/jwt/ @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/config/principal/ @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/controller/AuthController.java @rkdgusrn1212

/back/src/main/java/com/kanghoshin/lis/dao/AuthMapper.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/dao/ValidationMapper.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/dto/auth/ @rkdgusrn1212

/back/src/main/java/com/kanghoshin/lis/service/AuthService.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/service/AuthServiceImpl.java @rkdgusrn1212

# constraint 소유

/back/src/main/java/com/kanghoshin/lis/constraints/ @rkdgusrn1212

# 백 직원 모듈 소유

/back/src/main/java/com/kanghoshin/lis/dao/StaffMapper.java @rkdgusrn1212

# 백 환자 모듈 보유

/back/src/main/java/com/kanghoshin/lis/dao/PatientMapper.java @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/dto/patient/ @rkdgusrn1212
/back/src/main/java/com/kanghoshin/lis/dto/ReadListDto.java @rkdgusrn1212


# sql 파일 소유
/sql/ @rkdgusrn1212

# Front 앱 설정 파일 및 기본 스크립트 소유
/front/* @rkdgusrn1212

# 프론트 index, 라우팅(app)파일등의 루트파일

/front/src/* @rkdgusrn1212

# 프론트 인증 API

/front/src/services/authApi.ts @rkdgusrn1212
/front/src/services/authSlice.ts @rkdgusrn1212

# 로그인 페이지
/front/src/components/signin/ @rkdgusrn1212
/front/src/pages/SigninPage.tsx @rkdgusrn1212

# 로고
/front/src/components/common/Logo.tsx @rkdgusrn1212

# 회원가입 페이지
/front/src/pages/SignupPage.tsx @rkdgusrn1212
/front/src/components/signup/ @rkdgusrn1212

# 네비게이션
/front/src/pages/Navigation.tsx @rkdgusrn1212
/front/src/components/navigation/ @rkdgusrn1212

# 진료
/front/src/pages/OrderPage.tsx @rkdgusrn1212
/front/src/components/order/ @rkdgusrn1212

# 인증관련 리덕스 & 리덕스 설정
/front/src/services/accountSlice.ts @rkdgusrn1212
/front/src/services/authApi.ts @rkdgusrn1212
/front/src/services/types.ts @rkdgusrn1212
/front/src/hooks/index.ts @rkdgusrn1212

# stirngAvatar 유틸
/front/src/utils/stringAvatar.ts @rkdgusrn1212

# document 소유
/document/StaffAPI.md @rkdgusrn1212