@font-face {
  /*디지털 폰트 적용*/
  font-family: 'digital-clock-font';
  src: url('./fonts/digital-7.ttf');
}
@font-face {
  /* 카페24 클래식 폰트 적용 */
  font-family: 'cafe-classic';
  src: url('./fonts/Cafe24Classictype.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  /* 카페24 써라운드 폰트 적용 */
  font-family: 'cafe-surround';
  src: url('./fonts/Cafe24SsurroundAir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  /* 카페24 심플해 폰트 적용 */
  font-family: 'cafe-simplehae';
  src: url('./fonts/Cafe24Simplehae.ttf') format('truetype');
  font-weight: normal;
}
